body {
  background-color: #f1f1f1;
}

.title {
  display: flex;
  justify-content: center;
}

.upper__row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

.card__container {
  width: 85%;
  padding-top: 20px;
}

.lower__row {
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.lower__row button {
  height: 20px;
  width: 100px;
}
