.carddiv {
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
}

.card {
  border: 1px solid black;
  height: 220px;
  margin: 0 10px;
  border-radius: 3%;
  padding: 10px;
}
